body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}
button {
  border: 0;
}
button:hover {
  text-decoration: underline overline;
  color: white;
}
#yourCart {
  background-color: #f1ae0e;
}
#main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 1fr);
  /* 600px auto auto; */
  grid-template-areas:
    "leftSec centerSec rightSec"
    "leftSec centerSec "
    "leftSec centerSec "
    "leftSec centerSec ";
  grid-gap: 10px;
  flex-wrap: wrap;
  grid-template-rows: 1fr !important;
  grid-template-columns: 1fr !important;
}
#leftSection {
  grid-area: leftSec;
  display: flex;
  justify-content: space-between;
}

#centerSection {
  grid-area: centerSec;
  grid-template-columns: 1fr;
}
#rightSection {
  grid-area: rightSec;
  position: relative;
  top: 30px;
}
.m {
  /* padding: 30px 45%; */
  background-color: black;
  color: #f1ae0e;
  padding-left: 0;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  align-self: flex-start;
  margin: 30px;
  flex: 1;
  flex-basis: 50%;
}
.imf {
  width: 400px;
  border-radius: 40px;
  margin-right: 10%;
}
table {
  position: fixed;
  width: 20%;
  height: 20%;
  background-color: #f1ae0e;
  text-align: center;
}
#default {
  display: none;
}
#ccart {
  text-align: center;
  margin: auto;
  width: 400px;
}
#yourCart {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
p {
  padding-bottom: 30px;
}
#centerSection button,
#noCart p {
  padding: 20px;
  margin: 20px;
  font-size: 20px;
}
#centerSection button {
  background-color: #f1ae0e;
}
#centerSection button {
  position: relative;
  bottom: 90px;
  border-radius: 50%;
}
#centerSection button:active {
  background-color: #f1ae0e;
}
#noCart {
  text-align: center;
}
@media screen and (max-width: 1835px) {
  #main {
    grid-template-columns: repeat(2, 40%);
  }
}
