body {
  padding: 0;
  margin: 0;
}
#sec1 {
  text-align: center;
  background-color: #99e54d;
  padding: 30px;
}
#div1 {
  background-color: white;
  width: 40%;
  margin: auto;
  border-radius: 60px;
  padding: 5% 15%;
  margin-top: 40px;
}
#svgcontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#svgcontent svg {
  width: 50px;
  height: 40px;
}
#sec2 header {
  text-align: center;
}
#menu1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 80px;
}
#menu1 img {
  height: 400px;
  border-radius: 50px;
}
#menu1 img:nth-child(odd) {
  height: 500px;
}
#menu1 img:hover {
  /* opacity: 0.8; */
  transform: scale(0.8);
  box-shadow: #99e54d 10px 10px 30px;
}

#divmenu1 p:nth-child(odd) {
  font-weight: bold;
  text-transform: uppercase;
}

/*  */
#divcover {
  background-image: url(/image/im5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#div2cover {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#arc4 {
  height: 200px;
  margin-left: 400px;
}
#arc4 svg {
  height: 100px;
  width: 200px;
}
.introtext {
  display: flex;
  align-items: center;
}

#divcover,
#div2cover {
  margin: auto;
  margin-top: 3%;
  background-size: contain;
  background-size: 700px 950px;
  background-size: cover;
  width: 70%;
  height: 507px;
  border: 2px solid;
  border-radius: 50px;
  color: rgb(27, 25, 25);
  resize: both;
  padding: 50px;
}
#circle {
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
  background-color: #99e54d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
h1 {
  font-size: 50px;
  font-family: "Lucida sans-serif";
}
#divcover h1,
#divcover h2 {
  color: white;
  width: 400px;
  margin-bottom: 7px;
}
input[type="button"] {
  padding: 20px 50px;
  background-color: #f1ae0e;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  top: 12px;
}
footer {
  margin-top: 1%;
  text-align: center;
  background-color: #99e54d;
  padding: 20px;
  height: 167px;
}

@media screen and (max-width: 800px) {
  #menu1 img {
    height: 250px;
  }
  #arc4 {
    display: none;
  }
}
@media screen and (max-width: 1030px) {
  .inn {
    display: none;
  }
  #arc4 svg {
    padding: 30px;
  }
  body {
    background-color: tomato;
  }
}
@media screen and (max-width: 1835px) {
  .introtext {
    position: relative;
    bottom: 400px;
  }
}
